body {
    background-color: #0c3a46;
    color: white;
}

.btn {
    margin: 10px;
    color: white;
}

.calculator {
    height: 600px;
}

#inputForm {
    margin: 10px;
}

.colorPicker {
    margin: 10px;
}

.task_form {
    border: solid 3px aqua;
    padding: 30px;
}

img {
    float: left;
    height: 400px;
    width: 300px;
}